.js-carousel {
  background: rgba(0, 0, 0, 0.33);
  height: 255px;
  margin: 0 auto 2em;
  overflow: hidden;
  position: relative;
  width: 600px;
}
.js-carousel > ul {
  height: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 9999px;
}
.js-carousel > ul li {
  display: inline-block;
  float: left;
  transition: margin-left 0.33s linear;
  width: 600px;
}
.js-carousel > ul li img {
  max-width: 100%;
}
.js-carousel .arrow_prev,
.js-carousel .arrow_next {
  background: transparent;
  border: 0;
  color: #e0e0e0;
  cursor: pointer;
  font: 400 10em sans-serif;
  height: 200px;
  outline: 0;
  position: absolute;
  top: 0;
  text-shadow: 0 0 10px #444;
  width: 90px;
}
.js-carousel .arrow_prev:hover,
.js-carousel .arrow_next:hover {
  color: #999;
}
.js-carousel .arrow_prev {
  left: 0;
}
.js-carousel .arrow_next {
  right: 0;
}
.js-carousel .dots {
  display: inline-block;
  height: 1.25em;
  margin: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: auto;
}
.js-carousel .dots li {
  background: #555;
  border-radius: .75em;
  cursor: pointer;
  display: inline-block;
  height: .75em;
  margin: 0 .75em;
  width: .75em;
}
.js-carousel .dots li.active {
  background: #fff;
  box-shadow: 0 0 3px 3px #ddd;
}
.js-carousel .dots li:hover {
  background: #f5f5f5;
}
.js-carousel .btn_stop,
.js-carousel .btn_play {
  height: 2.25em;
  position: absolute;
  bottom: 1em;
  left: 2em;
  text-align: center;
  width: 5em;
}
.js-carousel .btn_stop {
  left: 100px;
}

body {
  counter-reset: item;
  font-family: sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
}

header {
  width: 800px;
  margin: 16px auto;
  text-align: center;
}

h1 {
  margin: 48px 0 0;
}

h3 {
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  margin: 32px 0 48px;
}

section {
  border: 1px solid #f0db4f;
  border-radius: 3px;
  line-height: 1.75;
  margin: 0 auto 32px;
  width: 800px;
}
section h2 {
  background: #fefac9;
  border-bottom: 1px solid #f0db4f;
  font-size: 15px;
  margin: 0 0 30px;
  padding: 10px;
}
section p, section ul, section ol {
  margin: 0 45px 30px;
}
section ol {
  list-style: none;
  margin-left: 25px;
}
section ol li {
  counter-increment: item;
  margin-bottom: 3em;
}
section ol li:before {
  margin-right: 10px;
  border-radius: 4px;
  content: counter(item);
  background: #272822;
  color: #fff;
  width: 2em;
  text-align: center;
  display: inline-block;
  height: 2em;
  line-height: 2em;
}
section a {
  color: #55acee;
  text-decoration: none;
}
section a:hover {
  text-decoration: underline;
}
section table {
  border: 1px solid #eee;
  border-collapse: collapse;
  font-size: 14px;
  margin: 16px 32px 32px;
  width: 92%;
}
section table td {
  font-family: monospace;
}
section table tr:nth-child(2n) {
  background: #f5f5f5;
}
section table th, section table td {
  border: 1px solid #eee;
  padding: 10px;
  text-align: left;
}
section table th {
  background: #272822;
  color: #fafafa;
  font-size: 14px;
  font-weight: 400;
}
section table th.subhead {
  background: #fffeee;
  color: #e09e41;
}
section code {
  font-size: 16px;
}